/*Mobile Website
  Susan Corbin
  silverliningdesignandprogramming.com
  CSS for Mobile page*/
  
@charset "utf-8";
/* CSS Document */

/*Centres logo on the screen*/
img.first{
	margin-right:auto;
	margin-left:auto;
	display:block;
	text-align:center;
}

/*Centres photo of me on the screen*/
img.second{
	margin-right:auto;
	margin-left:auto;
	display:block;
	text-align:center;
}

/*Puts and 10px space between the LinkedIn logo and the Facebook logo*/
img.left{
	margin-right: 10px;
}
