@charset "utf-8";
/* CSS Document */

/*Sets colour for the background*/
body{
	background: #06F; 
	
}

/*Centres the navigation bar*/
#header{
	text-align:center;
}

/*Sets controls for nav bar*/
a{
	color: #C09;
	text-decoration:none;
}

a:hover{
	color: #C9F;
}

h3{
	text-align: center;
	margin-top: 75px;
}

#photo1{
	margin-top: 100px;
	margin-left: 375px;
}

#photo2{
	margin-top: 75px;
	margin-left: 375px;
}

#photo3{
	margin-top: 75px;
	margin-left: 375px;
}

footer{
	text-align: center;
}

