@charset "utf-8";
/* CSS Document */

/*Sets colour for the background*/
body{
	background: #06F; 
}

/*Sets margins for project div*/
#slider1{
	margin-top: 125px;;
	margin-left: 375px;
	margin-right: 375px;
}

#directions{
	margin-top: 50px;
	margin-left: 375px;
}

a{
	color: #000;
	text-decoration: none;
}

a:hover {
	color: #C9F;
}

/*Centres the footer text*/
footer{
	text-align: center;
}

